/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Sawarabi+Mincho&display=swap');

/* Asterisk selector for default styles to override browser */
* {
    font-family: 'Alegreya Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    width: 100%;
    position: sticky;
    align-items: baseline;
    width: 100%;
    z-index: 100;
    padding: 0 1rem;
    box-shadow: 0 3px 3px rgb(242, 242, 242);
    display: flex; 
    justify-content: space-between;
    top: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: rgb(183, 174, 240);
}

/* Main content (between header and footer)*/
main {
    background-color: rgb(200, 4, 154);
    /* Make the area larger to push footer down */
    flex: 1 0 auto;
    display: flex;
}

.welcome {
    z-index: 99;
    background-color: #00000086;
    position: absolute;
    top: 12vh;
    color: white;
}

footer {
     background-color: black;
     width: 100%;
     position: sticky;
     display: flex;
     bottom: 0;
    }

#logo {
    color: darkgray;
    font-family: 'Sawarabi Mincho', helvetica;
}

h1 {
    font-size: 3.5vh;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Sawarabi Mincho', helvetica;
}

h2 {
    font-size: 2.8vh;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 238, 238);
    font-family: 'Sawarabi Mincho', helvetica;
}

h3 {
    font-size: 2.6vh;
}

/* Navbar with dropdown */
nav {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
}

/* Nav menu */
#nav-menu:checked~nav {
    display: block;
}

/* The menu in nav */
#menu {
list-style-type: none;
font-weight: bold;
letter-spacing: 3px;
background-color: black;
}

#nav-menu {
    display:none;
}

#menu > li {
margin-bottom: 1em;
}

/*Footer*/
#social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 8px 0;
    width: 100%; 
}

#social-media i {
    padding: 2%;
    font-size: 180%;
    color: lightslategray;
}

/* home page including its photos */
#home {
    line-height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#photos {
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

/* hidden but it should still be known that the heading exist */
.hidden {
    display: none;
}

/* About Tea section */
#black {
    background-color: #0f0d0d;
    color: white;
    width: 100%;
}

#green {
    background-color: #68c4af;
    color: black;
    width: 100%;
}

#red {
    background-color: #ff7477;
    color: black;
    width: 100%;
}

#white {
    background-color: #fefeff;
    color: black;
    width: 100%;
}

#yellow {
    background-color: #eaf89a;
    color: black;
    width: 100%;
}

#oolong {
    background-color: #d4afb9;
    color: black;
    width: 100%;
}

#blue {
    background-color: #1b85b8;
    color: black;
    width: 100vw;
}

#purple {
    background-color: #dfb2f4;
    color: black;
    width: 100vw;
}

/* Contact Us section */
#contact-us {
    background: url("../images/background.jpg") no-repeat center center/cover;
    position: relative;
    height: 30vh;
    width: 100%;
}

form {
    width: 60%;
    position: fixed;
    align-self: center;
    top: 28%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1vh 1vw;
}

input[type=submit] {
    border-color: lightseagreen;
    color: green;
}

input[type=reset] {
    border-color: darkmagenta;
    color: darkred;
}

/* added by tutor */
.photo-container img{
    width: 100%;
}
/* added by tutor */


/* Media query large landscape phones, small tablets 645px and up */
@media screen and (min-width: 645px) {

/* added by tutor */

    .photo-container img {
        flex: 1; /* Allow images to grow and shrink equally within their container */
        max-width: 50%; /* Each image takes up half of the container's width */
    }
/* added by tutor */


    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 3em;
    }

    .nav-menu-label {
        display: none;
    }

    #photos {
      column-count: 2;
    }

    .photo-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

/* About Tea */
    #black, #green, #red, #white, #yellow, #oolong, #blue, #purple {
        height: 11vh;
    }

/* Contact Us */
    form {
        width: 40%;
        left: 30%;
        font-size: x-large;
    }
    
    input {
        font-size: x-large;
    }
}

/*Media query computers 1290px and up */
@media screen and (min-width: 1290px) {

/* Contact Us */
    form {
        font-size: xx-large;
        width: 45%;
        left: 40%;
        top: 10%;
    }

    input {
        font-size: xx-large;
    } 
}