/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* Asterisk selector for default styles to override browser */
* {
    font-family: 'Alegreya Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    width: 100%;
    position: sticky;
    align-items: baseline;
    width: 100%;
    z-index: 100;
    padding: 0 1rem;
    box-shadow: 0 3px 3px darkgray;
    display: flex; 
    justify-content: space-between;
    top: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: slateblue;
}

/* Main content (between header and footer)*/
main {
    background-color: rgba(127, 102, 79, 0.406);
    /* Make the area larger to push footer down */
    flex: 1 0 auto;
    display: flex;
}

footer {
     background-color: black;
     width: 100%;
     position: sticky;
     display: flex;
     bottom: 0;
    }

#logo {
    color: darkgray;
     
}

h1 {
    font-size: 3.5vh;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 2.8vh;
    text-transform: uppercase;
}

/* Navbar with dropdown */
nav {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
}

/* Nav menu */
#nav-menu:checked~nav {
    display: block;
}

/* The menu in nav */
#menu {
list-style-type: none;
font-weight: bold;
letter-spacing: 3px;
background-color: black;
}

#nav-menu {
    display:none;
}

#menu > li {
margin-bottom: 1em;
}

/*Footer*/
#social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 8px 0;
}

#social-media i {
    padding: 2%;
    font-size: 180%;
    color: lightslategray;
    padding-left: 17vw;
}

/* home page including its photos */
#home {
    line-height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#photos {
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

#purple-tea {
    display: flex;
   
}

/* hidden but it should still be known that the heading exist */
.hidden {
    display: none;
}

/* About Tea section */
#black {
    color: black;
}

#green {
    color: darkgreen;
}

#red {
    color: rgb(243, 8, 8);
}

#white {
    color: white;
}

#yellow {
    color: yellow;
}

#oolong {
    color: rgba(108, 117, 126, 0.847)
}

#blue {
    color: blue;
}

#purple {
    color: purple;
}

/* Contact Us section */
#contact-us {
    background: url("../images/background.jpg") no-repeat center center/cover;
    position: relative;
    height: 30vh;
    width: 100%;
}

form {
    width: 60%;
    position: fixed;
    align-self: center;
    top: 28%;
    color: rgb(163, 190, 194);
    border: color rgb(163, 190, 194);
}

input[type=submit] {
    border-color: lightseagreen;
    color: green;
}

input[type=reset] {
    border-color: darkmagenta;
    color: darkred;
}

/* added by tutor */
.photo-container img{
    width: 100%;
}
/* added by tutor */


/* Media query large landscape phones, small tablets 645px and up */
@media screen and (min-width: 645px) {

/* added by tutor */

    .photo-container img {
        flex: 1; /* Allow images to grow and shrink equally within their container */
        max-width: 50%; /* Each image takes up half of the container's width */
    }
/* added by tutor */


    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 3em;
    }

    .nav-menu-label {
        display: none;
    }

    #photos {
      column-count: 2;
      flex: row;
    }

    .photo-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

/* Contact Us */
    form {
        width: 40%;
        left: 30%;
        font-size: larger;
    }
/* 
    input[type=submit], input[type:reset] {
        
    } */
}

/*Media query computers 1290px and up */
@media screen and (min-width: 1024px) {

/* Contact Us */
    form {
        font-size: xx-large;
        width: 20%;
        left: 40%;
    }

    /* input[type=submit], input[type:reset] {
        
    } */
}